build
dist
out
node_modules
.vscode-test/
*.vsix

python/ai_models/*
python/virtual_envs/*
!python/ai_models/linevd/main.py
!python/ai_models/linevul/linevul/linevul_model.py
!python/ai_models/devign/detect.py
temp
env
